[submodule "Pistacio/vendor/spdlog"]
	path = Pistacio/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pistacio/vendor/GLFW"]
	path = Pistacio/vendor/GLFW/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Pistacio/vendor/imgui/imgui"]
	path = Pistacio/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Pistacio/vendor/tinygltf/tinygltf"]
	path = Pistacio/vendor/tinygltf/tinygltf
	url = https://github.com/syoyo/tinygltf.git
