[submodule "Pistacio/vendor/spdlog"]
	path = Pistachio/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pistachio/vendor/imgui/ImGui"]
	path = Pistachio/vendor/imgui/ImGui
	url = https://github.com/ocornut/imgui.git